<div class="row">
    <div class="col">
        <h3 class="text-warning">About</h3>
        <p class="text-justify">
            This is an unofficial Web Template created for Auction purposes and is not
            affiliated with official group(s) or company(s) nor Stack Overflow. All
            trademarks and registered trademarks are the property of their respective
            company owners
        </p>
    </div>
    <div class="col">
        <ul>
            <li><h3 class="text-warning">Contact Us</h3></li>
            <li><b><i class="fa fa-mobile"></i>&emsp;Mobile: </b>0333333333</li>
            <li><b><i class="fa fa-phone-alt"></i>&emsp;Phone: </b>0333-333333</li>
            <li><b><i class="fa fa-fax"></i>&emsp;Fax: </b>033-3333-333</li>
            <li><b><i class="fa fa-mail-bulk"></i>&emsp;Email: </b>Email@gmail.com</li>
        </ul>
    </div>
    <div class="col">
        <h3 class="text-warning">Address:</h3>
        <p>
            Block C, H-11 Sector-ABC, 2nd Floor, City, State, Country
        </p>
    </div>
</div>