<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20"
     viewBox="0 0 32.22 30.65">
    <defs>
        <style>
            .Empty {
                fill: #d1cfcf;
                stroke: #d1cfcf;
                stroke-miterlimit: 10;
                margin: 0;
            }
          
            .Fill {
                fill:goldenrod;
                margin: 0;
                display:none;
            }
        </style>
    </defs>
    <title>Star</title>
    <g id="Empty"><polygon class="Empty" points="16.11 1.13 20.76 10.54 31.15 12.05 23.63 19.38 25.4 29.73 16.11 24.85 6.82 29.73 8.59 19.38 1.07 12.05 11.46 10.54 16.11 1.13" /></g>
    <g id="Fill"><polygon class="Fill" points="16.11 1.13 20.76 10.54 31.15 12.05 23.63 19.38 25.4 29.73 16.11 24.85 6.82 29.73 8.59 19.38 1.07 12.05 11.46 10.54 16.11 1.13" /></g>
</svg>



