<div class="col-12 productDescription">
    <span class="h3">return policy</span><br />
    <p>We are planning to introduce Return PO process.</p>

    <div><b>Scenario:</b></div>
    <p>– Goods received from vendor and stocked in warehouse and invoice receipted and payment run completed.</p>
    <p>– Recognized these materials are having quality issues.</p>
    <p>– Unwanted items wanted to return to vendor. Above is done after agreeing with vendor.</p>

    <div><b>  Process:</b> </div>
    <div>
        <ul>
            <li>Create a return PO  </li>
            <li> Create a outbound delivery </li>
        </ul>
    </div>
    <div><b>– Goods issue</b></div>

    <p>Currently the above are planned. I want to know about the remaining process to complete the full cycle. </p>
    <ul>
        <li>– Credit note creation  </li>
        <li>– Credit Note processing and etc.  </li>
    </ul>



</div>