<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 32.22 30.65">
    <defs>
        <style>
            .cls-1 {
                fill: none;
                stroke: darkslategrey;
                stroke-miterlimit: 10;
                margin: 0;
            }

            .OneByThird, .FullFill, .HalfFill, .TwoByThird {
                fill: darkslategrey;
                margin: 0;
                display: none;
            }
        </style>
    </defs>
    <title>Star</title>
    <g id="Empty-Star"><polygon class="cls-1" points="16.11 1.13 20.76 10.54 31.15 12.05 23.63 19.38 25.4 29.73 16.11 24.85 6.82 29.73 8.59 19.38 1.07 12.05 11.46 10.54 16.11 1.13" /></g>
    <g id="OneByThird-Star"><polygon class="OneByThird" points="11.46 10.54 11.46 27.29 6.82 29.73 8.59 19.38 1.07 12.05 11.46 10.54" /></g>
    <g id="HalfFill-Star"><polygon class="HalfFill" points="16.11 1.13 16.11 24.85 6.82 29.73 8.59 19.38 1.07 12.05 11.46 10.54 16.11 1.13" /></g>
    <g id="TwoByThird-Star"><polygon class="TwoByThird" points="20.76 10.54 20.76 27.29 16.11 24.85 6.82 29.73 8.59 19.38 1.07 12.05 11.46 10.54 16.11 1.13 20.76 10.54" /></g>
    <g id="Fill-Star"><polygon class="FullFill" points="16.11 1.13 20.76 10.54 31.15 12.05 23.63 19.38 25.4 29.73 16.11 24.85 6.82 29.73 8.59 19.38 1.07 12.05 11.46 10.54 16.11 1.13" /></g>
</svg>